{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <title>¿Quiénes somos?</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="apple-touch-icon" href="{%static 'apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" href="static/accounts/bootstrap.min.css">
    <link rel="stylesheet" href="static/accounts/templatemo.css">
    <link rel="stylesheet" href="static/accounts/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="static/accounts/fontawesome.min.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top"></nav>

    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="{% url 'index' %}">
                Gou II
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Inicio</a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">¿Quiénes somos?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'descarga' %}">Descargar APP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contáctanos</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                            <div class="input-group-text">
                                <i class="fa fa-fw fa-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </nav>
    <!-- Close Header -->

    
    <section class="bg-success py-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-8 text-white">
                    <h1>Bienvenido(a) a GOU</h1>
                    <p>
                        En GOU, impulsamos a la comunidad estudiantil de la Universidad de Cundinamarca hacia una experiencia universitaria más conectada y sostenible. En un mundo donde cada acción cuenta, nos enorgullece ofrecer una solución eficiente para el desplazamiento: el carpooling.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="accounts\static\img\logo.jpg" alt="About Hero">
                </div>
            </div>
        </div>
    </section>
    <!-- Close Banner -->

    <!-- Start Section -->
    <section class="container py-5">
        <div class="row text-center pt-5 pb-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Nuestro objetivo es simple</h1>
                <p>
                    facilitar que los estudiantes encuentren y compartan viajes hacia la universidad de manera
                    fácil y conveniente. En nuestra plataforma, los usuarios podrán descargar el aplicativo en el
                    cual pueden ver rutas disponibles, tomar rutas como pasajeros o ser conductores, contribuyendo 
                    así a la reducción del tráfico y la huella de carbono.

                </p>
            </div>
        </div>
       

    <!-- Start Brands -->
    <section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <p>
                        En GOU, no solo compartimos viajes, compartimos valores de sostenibilidad y soluciones 
                        inteligentes para los desafíos diarios. Únete a nosotros en este viaje hacia un futuro más 
                        inteligente y conectado en donde cada kilómetro recorrido es un paso hacia adelante en fortalecer 
                        la comunidad estudiantil, reducir el impacto ambiental y hacer que cada viaje cuente. 
                        Cada decisión de compartir un viaje es un pequeño paso que puede marcar una gran diferencia.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!--End Brands-->


    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">GoU versión II</h2>
                    <ul class="list-unstyled text-light footer-link-list">

                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="gou2udec@gmail.com">gou2udec@gmail.com</a>
                        </li>
                    </ul>
                </div>


                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Información</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="{% url 'index' %}">Inicio</a></li>
                        <li><a class="text-decoration-none" href="{% url 'about' %}">¿Quiénes somos?</a></li>
                        <li><a class="text-decoration-none" href="{% url 'descarga' %}">Descargar APP</a></li>
                        <li><a class="text-decoration-none" href="{% url 'contact' %}">Contáctanos</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            2024 GoU versión II
                            | Universidad de Cundinamarca
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="accounts/js/jquery-1.11.0.min.js"></script>
    <script src="accounts/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="accounts/js/bootstrap.bundle.min.js"></script>
    <script src="accounts/js/templatemo.js"></script>
    <script src="accounts/js/custom.js"></script>
    <!-- End Script -->
</body>

</html>